.git
.github

**/node_modules
frontend/.next
frontend/out

**/__pycache__
**/*.pyc
backend/.venv
backend/.pytest_cache
backend/.ruff_cache
backend/htmlcov
backend/.coverage

db/finally.db
db/finally.db-journal
db/finally.db-wal
db/finally.db-shm

.env
.env.local

planning
test
/README.md
